
		
	<!--  nav-bar start   -->
		<nav class="navbar navbar-light pr-navbar" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
				<div class="pr_active-user">
						<p>Employee</p>
					</div>  <!-- ld_active-user  -->
                    <!--  setting icon -->
			<div class="pr_settings-icon-wrap">
				<a role="button"><p class="pr_username">Logout</p></a>
			</div>
		</nav>
	<!--  nav-bar end  -->	
		{{ showpayslip }}
		<!-- Page Content -->
			<div id="pr-page-content-wrapper">
				<div class="container-fluid">

					<div class="pr-pg-title-wrapper text-center" data-aos="fade-down" data-aos-duration="1200">
						<h4>Payslips</h4>
					</div> <!-- pr-pg-title-wrapper  -->

					<div class="row">

						<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 pr-table-main-wrap">

							<div class="pr_table-style" data-aos="fade-right" data-aos-duration="1500">

								<form  *ngIf="!showpayslip">
									  <div class="form-group row">
										    <label for="staticMonth" class="col-sm-6 col-form-label pr_month">Enter Month :</label>
										    <div class="col-sm-6">
												 <div class="form-group">
									                <div class='input-group date' id='datetimepicker1'>
														
														<input type='text' class="form-control" #month />
														
									                    <span class="input-group-addon">
									                        <span class="glyphicon glyphicon-calendar"></span>
									                    </span>
									                </div>
									            </div>
									        </div> 
										</div>
										
										<div class="form-group row">
												<label for="staticMonth" class="col-sm-6 col-form-label pr_month">Enter year :</label>
												<div class="col-sm-6">
													 <div class="form-group">
														<div class='input-group date' id='datetimepicker1'>
															
															<input type='text' class="form-control" #year/>
															
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>
												</div> 
											</div>
									    <button class="btn btn-success text-center" style="background-color: #49c5b6; border:#49c5b6" (click)="generate(month.value,year.value)">Generate</button>
								</form>



								<!-- payslip-->
								<div class="pr-table-wrapper" *ngIf="showpayslip">
									<table class="table table-hover test-table">
										<tbody>
											<tr class="pr-table-row">
			                                    <th class="text-center" scope="col">Base</th>
												<td class="text-center">{{baseSalary}}</td>
												
											</tr>
											<tr class="pr-table-row">
			                                    
												<th class="text-center" scope="col">DA</th>
												<td class="text-center">{{payslip.da}}</td>
												
											</tr>
											<tr class="pr-table-row">
			                                    
			                                    <th class="text-center" scope="col">HRA</th>
												<td class="text-center">{{payslip.hra}}</td>

											</tr>
						
											<tr class="pr-table-row">
			                                    
												<th class="text-center" scope="col">Medical</th>
												<td class="text-center">{{payslip.medical}}</td>
												
											</tr>
											<tr class="pr-table-row">
			                                    
												<th class="text-center" scope="col">Pf</th>
												<td class="text-center">{{payslip.pf}}</td>
											</tr>
											<tr class="pr-table-row-total">

			                                    <th class="text-center" scope="col">Total</th>
												<td class="text-center">{{payslip.totalAmount}}</td>
												
											</tr>
										</tbody>

										
									</table>
								</div>  <!--  pr-table-wrapper  -->

							</div> <!--  pr_table-style  -->

						</div> <!--  pr-table-main-wrap  -->

					</div> <!--  row  -->

				</div>  <!--   container-fluid -->
                
                   
				
			</div> <!-- page-content-wrapper -->
		

		