
		
	<!--  nav-bar start   -->
		<nav class="navbar navbar-light pr-navbar" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
				<div class="pr_active-user">
						<p>Admin</p>
					</div>  <!-- ld_active-user  -->
                    <!--  setting icon -->
			<div class="pr_settings-icon-wrap">
				<a [routerLink]="adminprofile" role="button"><p class="pr_username" >Logout</p></a>
			</div>
		</nav>
	<!--  nav-bar end  -->	
	
		<!-- Page Content -->
			<div id="pr-page-content-wrapper">
				<div class="container-fluid">

					<div class="pr-pg-title-wrapper text-center" data-aos="fade-down" data-aos-duration="1200">
						<h4>Admin Profile</h4>
					</div> <!-- pr-pg-title-wrapper  -->

					<div class="row">

						<div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1 col-md-10 offset-md-1 pr-table-main-wrap">
							
							<div class="pr_table-style1" data-aos="fade-right" data-aos-duration="1500">

								<div class="pr-admin-wrapper col-xl-10 offset-xl-1 col-md-12">
								<!-- the below div will have the map  -->
									<div class="pr-admin-img">
										<img src="img/image.png">
									</div>
									
									<div class="pr-admin-desc">
										<p class="p1">{{username}}</p>
										<p class="p2">{{desig}}</p>
									</div>
								</div>  <!--  pr-admin-wrapper  -->

								<div class="container-login100-form-btn p-b-40 p-t-50">
									<div class="col-4 text-center">
										<a class="btn btn-default pr-profile-btn" [routerLink]="['/admin/createaccount']">Create Account
											<i class="icon icon-arrows"></i>
										</a>
									</div>
									<div class="col-4 text-center">
										<a class="btn btn-default pr-profile-btn" [routerLink]="['/admin/approveleave']">Approve Leaves
											<i class="icon icon-arrows"></i>
										</a>
									</div>
									<div class="col-4 text-center">
										<a class="btn btn-default pr-profile-btn" [routerLink]="['/admin/payemployee']">Pay Employees
											<i class="icon icon-arrows"></i>
										</a>
									</div>
								</div>

							</div> <!--  pr_table-style  -->

						</div> <!--  pr-table-main-wrap  -->

					</div> <!--  row  -->

				</div>  <!--   container-fluid -->
                
                   
				
			</div> <!-- page-content-wrapper -->
		
