
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" data-aos="zoom-out-up" data-aos-duration="2000" >
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
				Reset Password
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password" >
						<input class="input100" type="text" placeholder="Emailid" [(ngModel)]="Emailid" >
						<span class="focus-input100"></span>
					</div>
          
					<div class="container-login100-form-btn p-b-50 p-t-30">
						<a class="btn btn-default pr-save-btn" (click)="changepass()">Confirm
							<i class="icon icon-arrows"></i>
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	
