<nav class="navbar navbar-light pr-navbar" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
  <div class="pr_active-user">
      <p>Admin</p>
    </div>  <!-- ld_active-user  -->
              <!--  setting icon -->
<div class="pr_settings-icon-wrap">
  <a  role="button"><p class="pr_username">Logout</p></a>
</div>
</nav>
<!--  nav-bar end  -->	

<!-- Page Content -->
<div id="pr-page-content-wrapper">
  <div class="container-fluid">

    <div class="pr-pg-title-wrapper text-center" data-aos="fade-down" data-aos-duration="1200">
      <h4>Approve Leave</h4>
    </div> <!-- pr-pg-title-wrapper  -->

    <div class="row">

      <div class="col-12 pr-table-main-wrap">
  
        <div class="pr_table-style" data-aos="fade-right" data-aos-duration="1500">

          <div class="pr-table-wrapper" >
            <table class="table table-bordered table-striped table-hover test-table" id="user-table1">
              <thead class="thead-dark">
                <tr>
                                    <th class="text-center" scope="col"></th>
                  <th class="text-center" scope="col">Name</th>
                  <th class="text-center" scope="col">From</th>
                  <th class="text-center" scope="col">To</th>
                  <th class="text-center" scope="col">Reason</th>
                  <th class="text-center" scope="col">Approve</th>
                </tr>
              </thead>
          
              <tbody *ngFor="let l of leave">
                <tr >
                                    <td class="text-center">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator custom-width"></span>
                      <span class="custom-control-description"></span>
                    </label>
                  </td>
                  <td class="text-center">{{l._userId.name.first}}</td>
                  <td class="text-center">{{l.startDate|date:'fullDate'}}</td>
                  <td class="text-center">{{l.endDate|date:'fullDate'}}</td>
                  <td class="text-center">{{l.reason}}</td>
                  <!-- <td class="text-center"><input type="checkbox" checked data-toggle="toggle" data-off="Not Approve" data-on="Approve" data-onstyle="success" data-offstyle="danger"></td> -->
                  <!-- <td class="text-center"><input id="toggle-one" type="checkbox"  data-toggle="toggle" data-on="Yes" data-off="No" ></td> -->
                  <td class="text-center" *ngIf="l.isApproved && !track; else next"><button class="btn btn-danger" (click)="changeTrack()">Reject</button></td>
                  <ng-template #next><td class="text-center"><button class="btn btn-success">Approve</button></td></ng-template>
                </tr>
                
              </tbody>
              
              

            </table>
          </div>  <!--  pr-table-wrapper  -->

        </div> <!--  pr_table-style  -->

      </div> <!--  pr-table-main-wrap  -->

    </div> <!--  row  -->

  </div>  <!--   container-fluid -->
          
             
  
</div> <!-- page-content-wrapper -->
